// Colors
.bg-yellow {
    background-color: $color-yellow;
}

.color-yellow {
    color: $color-yellow;
}

.bg-yellow-100 {
    background-color: $color-yellow-100;
}

.bg-yellow-200 {
    background-color: $color-yellow-200;
}

.bg-yellow-300 {
    background-color: $color-yellow-300;
}

.bg-yellow-400 {
    background-color: $color-yellow-400;
}

.bg-yellow-500 {
    background-color: $color-yellow-500;
}

.bg-yellow-600 {
    background-color: $color-yellow-600;
}

.bg-yellow-700 {
    background-color: $color-yellow-700;
}

// dimentions
.vh-100{
    height: 100vh;
}

.w-md-50{
    @include media-breakpoint-up(md) {
        width: 50% !important;
    }
}

.w-md-75{
    @include media-breakpoint-up(md) {
        width: 75% !important;
    }
}

// border-radius
.br-20{
    border-radius: 20px;
}